@model Entity.Concrete.Heading

@{
    ViewBag.Title = "EditHeading";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}


<h2>Başlık Güncelleme Sayfası</h2>
@using (Html.BeginForm("EditHeading", "WriterPanel", FormMethod.Post))
{
<div class="form-group">
    @Html.HiddenFor(x => x.HeadingId, new { @class = "form-control" })
    @Html.HiddenFor(x => x.HeadingDate, new { @class = "form-control" })
    @Html.HiddenFor(x => x.WriterId, new { @class = "form-control" })

    @Html.Label("Başlık Adı")
    @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.HeadingName)


    @Html.Label("Kategori")
    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.categories, new { @class = "form-control" })

    <br />
    <button class="btn btn-info">Değişiklikleri Kaydet</button>
</div>
}


