@model Entity.Concrete.Category

@{
    ViewBag.Title = "EditCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Düzenle...</h2>


<div class="container">
    <h1>Yeni Kategori Ekleme Sayfası</h1>
    <br />
    Hoş Geldiniz

    @using (Html.BeginForm("EditCategory", "AdminCategory", FormMethod.Post))
    {
<div class="form-group">
    @Html.Label("Id")
    @Html.TextBoxFor(x => x.CategoryId, new { @class = "form-control" })
    <br />
    @Html.Label("Kategori Adı")
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryName)
    <br />
    @Html.Label("Kategori Açıklaması")
    @Html.TextAreaFor(x => x.CategoryDescription, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryDescription)

    <br />
    <button class="btn btn-info">KAYDET</button>
</div>
    }
</div>